.container {
  padding: 2rem;
}

.listContainer {
  padding: 2rem;
  overflow: auto;
  height: 1000px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1.25rem sans-serif;
}

.header {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.headerContainer {
  padding: 1.25rem;
  background-color: #3b82f6;
  color: white;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.spellsContainer {
  display: flex;
  flex-wrap: nowrap;
}

@media (width <768px) {
  .spellsContainer {
    display: flex;
    flex-direction: column;
  }

  .listContainer {
    height: 40vh;
  }
}
