.container {
  padding: 2rem;
  border-width: 2px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1.25rem sans-serif;
}

.header {
  font-size: 2rem;
  padding-bottom: 1rem;
}