.spell {
  padding: 2.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  padding-top: 1.25rem;
  font-size: 1.5rem;
}

.button {
  padding: 1rem;
  color: white;
  background-color: #3b82f6;
  border-radius: 10px;
}
